<!DOCTYPE html>
<html>
  <head>
  <title>Customer Tracker</title>
  </head>
  <body>
    <h1>Welcome to Customer Tracker</h1>
    <nav>
      <a href="/customers">See All Customers</a> |
      <a href="/customers/new">Add A Customer</a>
    </nav>
      <%= yield %>
  </body>
</html>


